@model IEnumerable<User>

<style>
    .table {
        border-collapse: collapse;
    }

        .table th, .table td {
            padding: 8px;
        }
</style>

<table class="table">
    <tr>
        <th><a href="javascript:void(0);" id="userIDHeader">User ID</a></th>
        <th>First Name</th>
        <th><a href="javascript:void(0);" id="lastNameHeader">Last Name</a></th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th><a href="javascript:void(0);" id="eventIDHeader">Event ID</a></th>
        <th>Event Name</th>
    </tr>

    @foreach (var user in @Model)
    {
        <tr>
            <td><a href=/User/ViewUser/@user.UserID>@user.UserID</a></td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.EmailAddress</td>
            <td>@user.PhoneNumber</td>
            <td>@user.EventID</td>
            <td>@user.EventName</td>
        </tr>
    }

</table>

<input type="hidden" id="sortOrder" value="asc" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>function sortTableUserID(columnName) {

        var currentOrder = $('#userIDHeader').text().includes('▼') ? 'desc' : 'asc';

        $.ajax({
            url: '/User/SortUsers',
            data: { column: columnName, sortOrder: currentOrder },
            type: 'GET',
            success: function (data) {
                $('.table tbody').html(data);
                $('#userIDHeader').text('User ID ' + (currentOrder === 'asc' ? '▼' : '▲'));
            },
            error: function () {
                alert('Error occurred while sorting.');
            }
        });
    }

    $(document).on('click', '#userIDHeader', function () {
        sortTableUserID('UserID');
    });</script>

<script>function sortTableLastName(columnName) {

        var currentOrder = $('#lastNameHeader').text().includes('▼') ? 'desc' : 'asc';

        $.ajax({
            url: '/User/SortUsers',
            data: { column: columnName, sortOrder: currentOrder },
            type: 'GET',
            success: function (data) {
                $('.table tbody').html(data);
                $('#lastNameHeader').text('Last Name ' + (currentOrder === 'asc' ? '▼' : '▲'));
            },
            error: function () {
                alert('Error occurred while sorting.');
            }
        });
    }

    $(document).on('click', '#lastNameHeader', function () {
        sortTableLastName('LastName');
    });</script>

<script>function sortTable(columnName) {

        var currentOrder = $('#eventIDHeader').text().includes('▼') ? 'desc' : 'asc';

        $.ajax({
            url: '/User/SortUsers',
            data: { column: columnName, sortOrder: currentOrder },
            type: 'GET',
            success: function (data) {
                $('.table tbody').html(data);
                $('#eventIDHeader').text('Event ID ' + (currentOrder === 'asc' ? '▼' : '▲'));
            },
            error: function () {
                alert('Error occurred while sorting.');
            }
        });
    }

    $(document).on('click', '#eventIDHeader', function () {
        sortTable('EventID');
    });</script>