@{
    Layout = "_Layout";
}

@model IEnumerable<EventData>

<h2>Events</h2>

<div style="display: block">
    <a href="/EventData/InsertEventData/">Create a New Event</a>
</div>

<table class="table">
    <tr>
        <th><a href="javascript:void(0);" id="eventIDHeader">Event ID</a></th>
        <th><a href="javascript:void(0);" id="eventNameHeader">Event Name</a></th>
        <th><a href="javascript:void(0);" id="dateAndTimeHeader">Date and Time</a></th>
        <th>Location</th>
        <th>Description</th>
    </tr>

    @foreach (var item in @Model)
    {
        <tr>
            <td><a href=/EventData/EventDetails/@item.EventID>@item.EventID</a></td>
            <td>@item.EventName</td>
            <td>@item.DateAndTime</td>
            <td>@item.Location</td>
            <td>@item.Description</td>
        </tr>
    }

</table>

<input type="hidden" id="sortOrder" value="asc" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>function sortTableEventID(columnName) {

        var currentOrder = $('#eventIDHeader').text().includes('▼') ? 'desc' : 'asc';

        $.ajax({
            url: '/EventData/SortEvents',
            data: { column: columnName, sortOrder: currentOrder },
            type: 'GET',
            success: function (data) {
                $('.table tbody').html(data);
                $('#eventIDHeader').text('Event ID ' + (currentOrder === 'asc' ? '▼' : '▲'));
            },
            error: function () {
                alert('Error occurred while sorting.');
            }
        });
    }

    $(document).on('click', '#eventIDHeader', function () {
        sortTableEventID('EventID');
    });</script>

<script>function sortTableEventName(columnName) {

        var currentOrder = $('#eventNameHeader').text().includes('▼') ? 'desc' : 'asc';

        $.ajax({
            url: '/EventData/SortEvents',
            data: { column: columnName, sortOrder: currentOrder },
            type: 'GET',
            success: function (data) {
                $('.table tbody').html(data);
                $('#eventNameHeader').text('Event Name ' + (currentOrder === 'asc' ? '▼' : '▲'));
            },
            error: function () {
                alert('Error occurred while sorting.');
            }
        });
    }

    $(document).on('click', '#eventNameHeader', function () {
        sortTableEventName('EventName');
    });</script>

<script>function sortTableDateAndTime(columnName) {

        var currentOrder = $('#dateAndTimeHeader').text().includes('▼') ? 'desc' : 'asc';

        $.ajax({
            url: '/EventData/SortEvents',
            data: { column: columnName, sortOrder: currentOrder },
            type: 'GET',
            success: function (data) {
                $('.table tbody').html(data);
                $('#dateAndTimeHeader').text('Date And Time ' + (currentOrder === 'asc' ? '▼' : '▲'));
            },
            error: function () {
                alert('Error occurred while sorting.');
            }
        });
    }

    $(document).on('click', '#dateAndTimeHeader', function () {
        sortTableDateAndTime('DateAndTime');
    });</script>
